---
import InputRl from "./input-RL.astro";
---

<h2>Inicia Sesión</h2>
<div class="form">
    <InputRl
        label="Correo Electrónico"
        id="correo"
        type="text"
    />

    <InputRl
        label="Contraseña"
        id="contra"
        type="password"
    />
</div>

<button  class="btn1 button-text" onclick="iniciarSesion()">
    <p>Iniciar</p>
</button>

<div class="links">
    <div class="register">
        <p>¿No tienes una cuenta?</p>
        <a href="/registro" class="link-text">Regístrate</a>
    </div>
    <a href="">¿Olvidaste tu contraseña?</a>
</div>

<script is:inline>
    function iniciarSesion()
    {
        let correo = document.getElementById("correo");
        let contra = document.getElementById("contra");

        sessionStorage.setItem('init', false);

        // console.log(correo.value);
        fetch(`http://localhost:9000/api/BodMongo/${correo.value}`, { method: "GET" }).then((response) => {
            response.json().then((data) => {
            // console.log(data);

            sessionStorage.setItem('correo', data.correo);
            sessionStorage.setItem('idBodeguero', data.idBodeguero);
            sessionStorage.setItem('nombreCompleto', data.nombreCompleto);
            sessionStorage.setItem('password', data.password);
            sessionStorage.setItem('suscripcion', data.suscripcion);

            // console.log(contra.value + "==" + sessionStorage.getItem('password'));
            if(contra.value == sessionStorage.getItem('password')){
                sessionStorage.setItem('init', true);
                window.location = "admin/clientes";
            }else{
                alert("Se ha ingresado una contraseña incorrecta.")
            }
            })
        })
    }
</script>

<style>
    .form{
        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }
    .links{
        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        color: var(--text);
    }

    .links .register{
        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 8px;
    }

</style>