---
import InputRl from "./input-RL.astro";
---

<div>
    <h2>Registro</h2>

</div>

<div class="form">
    <p class="bold-text">* Campos requeridos</p>
    <div class="inputs r1">
        <InputRl
            label="Nombre Completo"
            id="name"
            type="text"
        />
        <InputRl
            label="Correo Electrónico"
            id="email"
            type="text"
        />
        <InputRl
            label="Numero de Teléfono"
            id="telefono"
            type="text"
        />
    </div>

    <div class="inputs r2">
        <InputRl
            label="Dirección"
            id="direccion"
            type="text"
        />
        <InputRl
            label="País"
            id="pais"
            type="text"
        />
        <InputRl
            label="Contraseña"
            id="pswd"
            type="password"
        />

        <InputRl
            label="Confirmar Contraseña"
            id="confirmoContra"
            type="password"
        />
    </div>

    <div class="inputs r3">
        <InputRl
            label="Tipo de Suscripción"
            id="susc"
            type="text"
        />
        <InputRl
            label="Razón Social"
            id="razonSocial"
            type="text"
        />
    </div>
</div>

<button onclick="continuar1()" class="btn1 r1 ">
<p class="button-text">Continuar</p>
</button>

<button onclick="continuar2()" class="btn1 r2 ">
    <p class="button-text">Continuar</p>
</button>

<button onclick="registrar()" class="btn1 r3 ">
    <p class="button-text">Registrar</p>
</button>

<div class="login">
    <p>¿Tienes una cuenta?</p>
    <a href="/login" class="link-text">Inicia Sesión</a>
</div>

<script is:inline>
    function continuar1(){
        const r1= document.getElementsByClassName("r1");
        for(let i=0; i<r1.length; i++){
            r1[i].style.display = "none";
        }

        const r2= document.getElementsByClassName("r2");
        
        for(let i=0; i<r2.length; i++){
            r2[i].style.display = "flex";
        }
    }

    function continuar2(){
        const r2= document.getElementsByClassName("r2");
        
        for(let i=0; i<r2.length; i++){
            r2[i].style.display = "none";
        }

        const r3= document.getElementsByClassName("r3");
        
        for(let i=0; i<r3.length; i++){
            r3[i].style.display = "flex";
        }
    }

    function registrar(){
    let nombreOB = document.getElementById("name").value;
    let correoOB = document.getElementById("email").value;
    let passwordOB = document.getElementById("pswd").value;
    let suscripcionOB = document.getElementById("susc").value;
    async function postData(url = "", data = {}) {
        const response = await fetch(url, {
        method: "POST", // *GET, POST, PUT, DELETE, etc.
        mode: "cors", // no-cors, *cors, same-origin
        cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
        credentials: "same-origin", // include, *same-origin, omit
        headers: {
            "Content-Type": "application/json",
            // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        redirect: "follow", // manual, *follow, error
        referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
        body: JSON.stringify(data), // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
    }

    postData("http://localhost:9000/api/BodMongo", {
        idAdmin:  8,
        nombreCompleto: nombreOB,
        correo: correoOB,
        password: passwordOB,
        suscripcion: suscripcionOB,
    }).then((data) => {
        console.log(data); // JSON data parsed by `data.json()` call
    });
    }
    

</script>

<style>

    .form{
        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    
    .inputs{
        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .r1{
        display: flex;
    }

    .r2{
        display: none;
    }

    .r3{
        display: none;
    }

    .login{
        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 8px;

        color: var(--text);
    }
</style>